body {
    background-color: rgb(243, 245, 246);
    color: rgb(17, 36, 54);
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic';
}

.page {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* FIRST PAGE */
#pagedegarde{
    background-color: black;
    color : limegreen;
    overflow: hidden;
}

/* image and text */
#hidiv {
    position: absolute;
    right: 0;
    top: 96px;
    display: flex;
    justify-content: end;
    margin-right: 64px;
    flex-direction: row;
    width: 100%;
}
#infome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#me {
    position: relative;
    background-color: rgb(255, 100, 25);
    padding: 32px;
    border-radius: 50%;
    width: min(28vw, 28vh);
    box-shadow: 0px 0px 150px rgb(255, 50, 100);
    cursor: pointer;
}
#hitext {
    font-size: 10vmin;
    transform: rotate(10deg);
    margin-right: 5vmin;
    z-index: 2;
}
#name {
    font-size: 5vmin;
    text-align: center;
    z-index: 2;
}
@supports (display: flex) {
    @media screen and (max-width: 695px) {
        #hidiv {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left:0;
            margin-left: auto;
            margin-right: auto;
        }
        #hitext {
            margin-right: 0;
        }
        
    }
}
/* drawing */
#ground {
    position: absolute;
    left: 0;
    bottom: 0;
    width: min(100%, 850px);
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#tree_canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height : 100%;
}

/* sections */

.section {
    padding-top: 50px;
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.construction {
    position: relative;
    width: 100%;
}

/* contact */

.contact-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
    width: min(1080px, 100%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.contact-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    background-color: white;
    transition-duration: 0.3s;
}

.contact-img:hover{
    background-color: rgb(127, 231, 127);
}

.contact-label {
    font-weight: bold;
}